* {
  margin: 0;
  padding: 0;
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
}
:root {
  --dark-background: #1f2937;
  --hero-text: 48px;
  --hero-weight: 900;
  --hero-secondary-text: 18px;
  --hero-secondary-color: #e5e7eb;
  --logo-text: 24px;
  --logo-color: #f9faf8;
  --button-color: #3882f6;
  --info-header-text: 36px;
  --info-heder-color: #1f2937;
  --info-header-weight: 900;
  --quote-background: #e5e7eb;
  --quote-text: 36px;
  --quote-font: light italic;
  --quote-color: #1f2937;
}
.hero {
  height: 50vh;
  width: 100%;
  background: var(--dark-background);
}
#home h1 {
  color: var(--logo-color);
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: var(--logo-text);
}
#home ul li {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--hero-secondary-color);
}
#home ul {
  display: flex;
  gap: 1rem;
  align-items: center;
}
#home nav {
  display: flex;
  justify-content: space-around;
}
.main {
  display: flex;
  height: 80%;
  justify-content: space-evenly;
  align-items: center;
}
.main-img {
  width: 600px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(212 7% 46% / 1);
  color: #fff;
}
.main-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.main-text h2 {
  font-size: var(--hero-text);
  color: var(--hero-secondary-color);
}
.main-text p {
  color: var(--hero-secondary-color);
}
.main-text button {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  background: var(--button-color);
  color: var(--hero-secondary-color);
  font-size: 14px;
  font-weight: var(--hero-weight);
}
